<form action="/tasks" method="post">

  <label for="name">Enter task title</label>
  <input type="text" name="task[title]">


  <label for="name">Enter task details</label>
  <input type="text" name="task[details]">

  <input type="submit">

</form>
